<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="registration-popup-overlay">
        <div class="registration-popup-content">
            <div class="popup-left">
                <div class="popup-left-text">
                
                </div>
            </div>

            <div class="popup-right">
                <button class="popup-close-btn">&times;</button>
                <div class="form-container">
                    <div class="form-header">
                        <h2>Registration form</h2>
                        <p>Register for a personalized and secure experience</p>
                    </div>
                    <form class="registration-form" action="/register" method="POST">
                        <div class="form-row">
                            <div class="input-group">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter first name" name="firstName" required>
                            </div>
                            <div class="input-group">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter last name" name="lastName" required>
                            </div>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-envelope"></i>
                            <input type="email" placeholder="Enter your e-mail" name="email" required>
                        </div>
                        <div class="input-group phone-input-group">
                            <div class="country-code">+91</div>
                            <input type="tel" placeholder="Enter your contact number" name="contactNumber" required>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-graduation-cap"></i>
                            <select name="enrolledCourses" id="internship-program" required>
                                <option value="">Select internship program</option>
                                <option value="Full Stack Development">Full Stack Development Mastery</option>
                                <option value="UI/UX Designing">UI/UX Designing (Figma)</option>
                                <option value="SolidWorks: CAD/CAM">Solidworks: CAD/CAM (499/-)</option>
                                <option value="SolidWorks+Ansys: CAD/CAM">Solidworks+Ansys: CAD/CAM (999/-)</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-university"></i>
                            <input type="text" placeholder="College name" name="collegeName" required>
                        </div>
                        <button type="submit" class="btn-register-form">Register Here</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>